graft Api/core/inc
graft platform/inc

include Api/core/src/vl53lx_api.c
include Api/core/src/vl53lx_api_calibration.c 
include Api/core/src/vl53lx_api_core.c 
include Api/core/src/vl53lx_api_debug.c 
include Api/core/src/vl53lx_api_preset_modes.c
include Api/core/src/vl53lx_core.c 
include Api/core/src/vl53lx_core_support.c 
include Api/core/src/vl53lx_dmax.c 
include Api/core/src/vl53lx_hist_algos_gen3.c 
include Api/core/src/vl53lx_hist_algos_gen4.c 
include Api/core/src/vl53lx_hist_char.c 
include Api/core/src/vl53lx_hist_core.c 
include Api/core/src/vl53lx_hist_funcs.c 
include Api/core/src/vl53lx_nvm.c 
include Api/core/src/vl53lx_nvm_debug.c 
include Api/core/src/vl53lx_register_funcs.c 
include Api/core/src/vl53lx_sigma_estimate.c 
include Api/core/src/vl53lx_silicon_core.c 
include Api/core/src/vl53lx_wait.c 
include Api/core/src/vl53lx_xtalk.c 
include platform/src/vl53lx_platform.c 
include platform/src/vl53lx_platform_ipp.c
include python_lib/vl53lx_python.c
include python/VL53LX.py
include README.md
include setup.py